body {
    background: linear-gradient(90deg, #e09045, #0c296e);
    max-width: 100vw;
  }
  
  .grid-container {
    width: 93%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-bottom: 5%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }